<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .my-main {
            background-image: url("https://sevwebdesign.com/wp-content/uploads/2019/01/igor-miske-207639-unsplash-compressor.jpg");
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 700px;
        }
    </style>
</head>
<body>
    @using Microsoft.AspNetCore.Identity
    @using Models
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager
    @{ 
        var user = await UserManager.GetUserAsync(User);
       
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Laptop" asp-action="Index">ELappy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @* <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Laptop" asp-action="Index">Home</a>
            </li>

        </ul>*@
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <!--<li class="nav-item">
            <a class="nav-link text-dark" asp-area="">User.Identity.Name</a>
        </li>

        <li class="nav-item">
            <form asp-action="LogOff">
            </form>
        </li>-->

                        var list = await UserManager.GetRolesAsync(user);
                        if (list.Count > 0 && list[0] == "Admin")
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Laptop" asp-action="AdminIndex">Product List For Admin</a>
                                </li>
                              
                               
                            </ul>
                        }
@**@
                        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="">@User.Identity.Name</a>
                                </li>
                                <li class="nav-item">
                                    <button type="submit" class="btn btn-link nav-link"><i class="fa fa-sign-out"></i>&nbsp;Log out</button>
                                </li>
                            </ul>
                        </form>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Order" asp-action="Index">My Orders</a>
                            </li>

                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </nav>
    </header>
    
    

       
            @RenderBody()
      
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ELappy
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
